!!! 5
%html{ lang: "en-us" }
  %head
    %title&= title
  %body
    %h1&= text
    :if items.length
      %dl#items
        :each item in items
          %dt
            %a{ href: item.url }&= item.name
            &= ": $"
            &= item.price.toFixed(2)
          %dd
            %p&= item.description
    :if !items.length
      %p#no-items There are no items at this time.
