<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title><%- locals.title %></title>
	</head>
	<body>
		<h1><%- locals.text %></h1>
    <% if (locals.items.length) { %>
      <dl id="items">
        <% for (var i = 0, len = locals.items.length; i < len; ++i) {
             var item = locals.items[i]; %>
          <dt><a href="<%- item.url %>"><%- item.name %></a>: $<%- item.price.toFixed(2) %></dt>
          <dd><p><%- item.description %></p></dd>
    		<% } %>
      </dl>
    <% } else { %>
      <p id="no-items">There are no items at this time.</p>
    <% } %>
	</body>
</html>
